button:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 color-mix(in srgb, var(--p-primary-color) 55%, transparent);
 }

 70% {
  box-shadow: 0 0 0 10px transparent;
 }

 100% {
  box-shadow: 0 0 0 0 transparent;
 }
}
