<?xml version="1.0"?>
<phpunit bootstrap="vendor/autoload.php">
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="KERNEL_CLASS" value="Src\AppKernel"/>
        <env name="DATABASE_URL" value="sqlite:///:memory:"/>
        <env name="JWT_SECRET" value="test_secret"/>
        <env name="APP_SECRET" value="test_app_secret"/>
    </php>

    <testsuites>
        <testsuite name="App">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
